.row {
    font-size: 0;
}

.rowMark {
    width: 20;
    height: 50;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 2;
    font-size: initial;
}

.rowMarkText {
    font-size: 24;
    margin: 0;
    padding: 10 0;
    text-align: center;
}

.columnMark {
    width: 50;
    height: 30;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 2;
    font-size: initial;
}

.columnMarkText {
    font-size: 24;
    margin: 0;
    padding: 5 0;
    text-align: center;
}

.square {
    width: 50;
    height: 50;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 2;
    font-size: initial;
}

.light.square {
    background-color: lightgrey;
}

.dark.square {
    background-color: lightblue;
}

.square.aim.marked {
    background-color: #f4e241 !important;
}

.square.move.marked {
    background-color: green !important;
}

.square.cover.marked {
    background-color: blue !important;
}

.square.attack.marked {
    background-color: red !important;
}

.square.xray.marked {
    background-color: #aa42f4 !important;
}

.square.control.marked {
    background-color: #ff9900 !important;
}
